header {
  min-width: 1920px;
  height: 100px;
  background: rgb(255, 204, 38);
  display: flex;
  align-items: center;
  justify-content: end;

  div {
    font-family: Anek Telugu;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.05em;
    text-align: left;
    padding-right: 35px;
    text-transform: uppercase;
  }
}